
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

h1 {
    font-size: 36px;
    padding: 40px 0 40px 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    color: #990000;

}

body {
    background: #F5D1D3;
}

img {
    border-radius: 45px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.d-flexs {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 50px 0;
}

h3 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
}

.cas-rendering {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 50px 0;
}

.loader {
    font-weight: 700;
    color: darkred;
    font-size: 34px;
    padding: 0 0 0 30px;
    margin: 0;
}

h4 {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0 0 12px 0;
    color: #502F8F;
}

.render-btn {
    background: #990000;
    color: wheat;
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    border-radius: 16px;
    font-size: 22px;
    margin: 0 auto 38px auto;
    cursor: pointer;
}

.render-cta {
    position: relative;
}

.click-me {
    position: absolute;
    margin: 0;
    margin: 0;
    top: -3px;
    left: 60%;
    color: white;
    background: #9b3840;
    padding: 2px;

}

.click-me-client-side {
    position: absolute;
    margin: 0;
    top: 111px;
    color: white;
    background: #9b3840;
    padding: 2px;
    right: 65%;
}

